
{% extends 'base.html' %}
{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-lg- mt-5">
            <h2>Login</h2>
            <form class="form-group mt-5" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Login</button></br>
                <a href="{% url 'signup' %}"> Vous n'avez pas de compte, inscrivez vous!</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}